In [1]:
import numpy as np
import pandas as pd
import glob
import csv

In [ ]:
#The data is originally split into 4 .txt files. The following line of code will create a single 
# .txt file, "all_data.txt", with all the data:

import glob

read_files = glob.glob("*.txt")

with open("all_data.txt", "wb") as outfile:
    for f in read_files:
        with open(f, "rb") as infile:
            outfile.write(infile.read())

In [2]:
f= open('all_data.txt', 'r')

aux = []
for line in f:
    aux.append(line.replace("\n",""))

elements = pd.DataFrame(aux)

In [4]:
elements[['User ID', 'Rating', 'Date']] = pd.DataFrame([ x.split(',') for x in elements[0]])

In [6]:
elements[['Movie ID','Decoy']] = pd.DataFrame([ x.split(':') for x in elements[0]])

In [8]:
elements.loc[elements.Decoy != '','Movie ID'] = np.nan
elements = elements.fillna(method= 'ffill')
elements = elements.drop(elements.index[elements[0] == elements['User ID']])

In [9]:
del elements[0]
del elements['Decoy']

In [10]:
elements.head()

   User ID Rating        Date Movie ID
1  1488844      3  2005-09-06        1
2   822109      5  2005-05-13        1
3   885013      4  2005-10-19        1
4    30878      4  2005-12-26        1
5   823519      3  2004-05-03        1

In [11]:
elements.to_csv('all_data_2.csv', index = False)